@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


*
{
   margin:0;
   padding:0;
   box-sizing:border-box;
 }
head
{
box-sizing:border-box;

}
  
 body
{
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  display:grid;
  border: 5px solid #FF0080;
  padding:50px;
  margin:50px;
  background:#FFE6FB;
  grid-template-columns: 1fr 2fr; 
}


div
{
  position: realtive;
   padding:40px;
   }
p
{
    color:#000;
    padding-top: 0.5cm;
    letter-spacing: 0cm;
    text-align: justify;
    font-size: 20px;
    word-spacing: 0cm;
	padding-bottom:0.5cm;
	
} 
 ul
{
    color:#000;
    padding-top: 0.5cm;
    padding-left: 1cm;
    letter-spacing: 0cm;
    text-align:start;
    font-size: 17px;
    font-weight:500px;
	padding-bottom:0.5cm;
} 

div

{
  position: realtive;
 
   padding:40px;
   }


h2 {
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 3.4em;
  letter-spacing: 0.3cm;
  margin-top: -0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em  #fe05e2, 0 0 0.3em #fe05e1;
  transform: rotate(-2deg);
}
h5
{
    color:#000;
    padding-top: 0.5cm;
    font-style: bold;
    letter-spacing: 0cm;
    text-align:justify;
    font-size: 20px;
	font-style: bold;  
}


ul 
 {
     
    color:#000;
    padding-top: 0.5cm;
    padding-left: 1cm;
    letter-spacing: 0cm;
    text-align:start;
    font-size: 17px;
    font-weight:500px;
	padding-bottom:0.5cm;
 }
  ul li
{
 position:relative;
 list-style:disc; 
 margin:10px 0;
 cursor:pointer;
 padding-bottom: 0.1cm;
}
